/* Tailwind Component */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --color-primary: #ffffff;
  --color-secondary: #def0ff;
  --color-tertiary: #3982bf;
  --color-quaternary: #224a6d;
  --color-quinary: #2caee5;

  --color-primary-text: #3982bf;
  --color-secondary-text: #ffffff;

  --color-primary-svg: #3982bf;
  --color-secondary-svg: #ffffff;
}
/* Dark Theme */
.dark-theme {
  --color-primary: #1e1e1e;
  --color-secondary: #333333;
  --color-tertiary: #4a4a4a;
  --color-quaternary: #3a3a3a;
  --color-quinary: #5a5a5a;

  --color-primary-text: #e0e0e0;
  --color-secondary-text: #f0f0f0;

  --color-primary-svg: #e0e0e0;
  --color-secondary-svg: #f0f0f0;
}

/* Global Styles */
#root {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

svg {
  cursor: pointer;
}

svg:hover {
  scale: 1.1;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 10px 5%;

  display: block;

  /*
  overflow-x: auto;
  white-space: nowrap; */

  border: 1.5px solid var(--color-tertiary);
  border: 8px;
}

th {
  padding: 8px;
  text-align: center;
  border: 1.5px solid var(--color-tertiary);
  background-color: var(--color-secondary);
}

td {
  padding: 8px;
  border: 1.5px solid var(--color-tertiary);
}

iframe {
  width: 100%;
  height: 400px;
  margin: 10px 0;
  border-radius: 8px;
}

code,
iframe,
table {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}


/* Headings */
.Heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #2caee5 0%, #3982bf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Sub-Heading {
  background: linear-gradient(
    90deg,
    var(--color-quinary) 0%,
    var(--color-tertiary) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Custom Scrollbar */
.Add-Scrollbar {
  overflow: auto;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}

.Add-Scrollbar-X {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}

.Add-Scrollbar-Y {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}

.Add-Scrollbar-Hidden {
  overflow: auto;
  scrollbar-color: transparent transparent;
}

/* Shimmer Effect (loading animation)*/
.Gradient {
  display: inline-block;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: var(--color-secondary);
  background: linear-gradient(
    to right,
    var(--color-secondary) 8%,
    var(--color-primary) 38%,
    var(--color-secondary) 54%
  );
  background-size: 1000px 640px;
  height: 100%; /* Ensure the gradient spans the full height */
  width: 100%; /* Ensure the gradient spans the full width */
  border-radius: inherit; /* Ensure the border-radius is applied */
}

/* Model 1 Animation */
.Main-Animation {
  animation: upDown 1s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

/* Media Queries */
@media screen and (max-width: 767px) {
  #root {
    flex-direction: column-reverse;
    position: relative;
  }

  table,
  iframe,
  code {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}
