/* Tailwind Component */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
:root {
  --color-primary: #ffffff;
  --color-secondary: #def0ff;
  --color-tertiary: #3982bf;
  --color-quaternary: #224a6d;
  --color-quinary: #2caee5;

  --color-primary-text: #3982bf;
  --color-secondary-text: #ffffff;

  --color-primary-svg: #3982bf;
  --color-secondary-svg: #ffffff;
}

.dark-theme {
  --color-primary: #1e1e1e;
  --color-secondary: #333333;
  --color-tertiary: #4a4a4a;
  --color-quaternary: #3a3a3a;
  --color-quinary: #5a5a5a;

  --color-primary-text: #e0e0e0;
  --color-secondary-text: #f0f0f0;

  --color-primary-svg: #e0e0e0;
  --color-secondary-svg: #f0f0f0;
}

#root {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

h1,
h2 {
  font-family: poppins;
  font-weight: 600;
}

svg {
  cursor: pointer;
}

svg:hover {
  scale: 1.1;
}

/* Custom Scrollbar */
.Add-Scrollbar {
  overflow: auto;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}

.Add-Scrollbar-X {
  overflow-x: auto;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}

.Add-Scrollbar-Y {
  overflow-y: auto;
  scrollbar-color: var(--color-tertiary) var(--color-secondary);
}

.Add-Scrollbar-Hidden  {
  overflow: auto;
  scrollbar-color: transparent transparent;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  #root {
    flex-direction: column-reverse;
    position: relative;
  }
}
